@font-face {
    font-family: "HelveticaNeueLTStd93BlackExtended";
    src: url("fonts/HelveticaNeueLTStd93BlackExtended.eot");
    src: url("fonts/HelveticaNeueLTStd93BlackExtended.eot") format("embedded-opentype"),
         url("fonts/HelveticaNeueLTStd93BlackExtended.woff2") format("woff2"),
         url("fonts/HelveticaNeueLTStd93BlackExtended.woff") format("woff"),
         url("fonts/HelveticaNeueLTStd93BlackExtended.ttf") format("truetype"),
         url("fonts/HelveticaNeueLTStd93BlackExtended.svg#HelveticaNeueLTStd93BlackExtended") format("svg");
}

body {

  font-family: HelveticaNeueLTStd93BlackExtended;

}

.mainframe {



}

body {

/*    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 0, 1)) ,  url("logo.png") */;
  /*  background-repeat: no-repeat; */
  /*  background-size: 1920px 1080px; */
}


div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
