
/*Defining a new font*/

@font-face {
    font-family: "HelveticaNeueLTStd93BlackExtended";
    src: url("fonts/HelveticaNeueLTStd93BlackExtended.eot");
    src: url("fonts/HelveticaNeueLTStd93BlackExtended.eot") format("embedded-opentype"),
         url("fonts/HelveticaNeueLTStd93BlackExtended.woff2") format("woff2"),
         url("fonts/HelveticaNeueLTStd93BlackExtended.woff") format("woff"),
         url("fonts/HelveticaNeueLTStd93BlackExtended.ttf") format("truetype"),
         url("fonts/HelveticaNeueLTStd93BlackExtended.svg#HelveticaNeueLTStd93BlackExtended") format("svg");
}

img.logo {
 /*background: radial-gradient(rgba(40, 45, 231, 1) 60%, rgba(40, 45, 231, 0) 70%);*/
  padding: 10px;
  display: block;
  margin: 0 auto;
}

html {
  overflow: visible !important;
}

#title {
  background: radial-gradient(ellipse at center, rgba(40,45,231,1) 0%,rgba(40,45,231,0.7) 100%);
  color: white;
  border-style: solid;
  padding: 30px ;
  border-width: 3px ;
  border-color: rgb(40, 45, 231) ;
  margin: 3px;
  text-align: center;
}



iframe{
    overflow: visible;
    display: block;
    vertical-align: middle;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

body{
  font-family: HelveticaNeueLTStd93BlackExtended;
  margin: 0;
  padding: 0;
  overflow: visible;
  height: 100%;
  max-height: 100%;
/*  font-family: Arial; */
  line-height: 1.5em;
}

#mainpage {
  background-color: white;
}

#nav{
  background-image:

    url(LOGO.png),

    linear-gradient(

     rgba(40, 45, 231, 1),
      rgba(40, 45, 231, 0.5)
    );

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 230px;
  height: 100%;
  overflow: visible;
/*  background: #C0C0C0; */
}

main{
  position: fixed;
  top: 0;
  left: 230px;
  right: 0;
  bottom: 0;
  background: #fff;
}

.innertube{
  margin: 15px;
}

p {
  color: #555;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  padding: 0;
  /* text-align: center; */
  /* color: #39ff14; */
  color:#fff;
  text-decoration: none;
}

li {
  border-color:#fff;
  margin:2px;
  border-style: solid;
  border-width: 3px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 10px;

}

.links {
/*  text-align: center; */
  line-height: 1.75;

}



* html body{
  padding: 0 0 0 230px;
}

* html main{
  height: 100%;
  width: 100%;
}}
