
/*Defining a new font*/

@font-face {
    font-family: "HelveticaNeueLTStd93BlackExtended";
    src: url("fonts/HelveticaNeueLTStd93BlackExtended.eot");
    src: url("fonts/HelveticaNeueLTStd93BlackExtended.eot") format("embedded-opentype"),
         url("fonts/HelveticaNeueLTStd93BlackExtended.woff2") format("woff2"),
         url("fonts/HelveticaNeueLTStd93BlackExtended.woff") format("woff"),
         url("fonts/HelveticaNeueLTStd93BlackExtended.ttf") format("truetype"),
         url("fonts/HelveticaNeueLTStd93BlackExtended.svg#HelveticaNeueLTStd93BlackExtended") format("svg");
}

img.logo {
  padding: 10px;
  display: block;
  margin: 0 auto;
}

main {
  overflow-y: auto;
}

#myVideo {
  z-index: -999;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#title {
  background: radial-gradient(ellipse at center, rgba(40,45,231,1) 0%,rgba(40,45,231,0.7) 100%);
  color: white;
  border-style: solid;
  padding: 30px ;
  border-width: 3px ;
  border-color: rgb(40, 45, 231) ;
  margin: 20px;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  top: 20px; /* required */
}



iframe{
    overflow: visible;
    display: block;
    vertical-align: middle;
    margin: 1px;

}

body{
  font-family: HelveticaNeueLTStd93BlackExtended;
  margin: 0;
  padding: 0;
  overflow: visible;
  height: 100%;
  max-height: 100%;
/*  font-family: Arial; */
}

#mainpage {
  background: url("background.png") center center fixed;
}

#nav{

  background-image:
  url(LOGO.png),linear-gradient(rgba(40, 45, 231, 1),rgba(40, 45, 231, 0.5));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 230px;
  height: 100%;
  overflow: visible;
/*  background: #C0C0C0; */
}

main{
  position: fixed;
  top: 0;
  left: 230px;
  right: 0;
  bottom: 0;
  background: #fff;
}

.innertube{
  margin: 15px;
}

p {
  color: #555;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  padding: 0;
  color:#fff;
  text-decoration: none;
}

li {
  border-color:#fff;
  margin:2px;
  border-style: solid;
  border-width: 3px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;

}

.links {
  line-height: 1.75;
}

* html body{
  padding: 0 0 0 230px;
}

* html main{
  height: 100%;
  width: 100%;
}

/*NEW SHIT*/

button:focus{
  outline:none;
}
.box{
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  border-style:solid;
  position:absolute;
  top:56.5%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:1px;
}
div.title{
  height:18px;
  width:100%;
  background:#000080;
  color:#FFF;
}
img.title{
  float:left;
}
p.title{
  margin:2px 0 0 1px;
  float:left;
  font-family:Tahoma;
  font-weight:bold;
  font-size:11px;
}
.title button{
  margin:2px 2px 2px 0;
  float:right;
  width:14px;
  height:13.5px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding:0;
  font-size:9px;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
  focus:none;
}
div.body{
  padding:3px 2px 2px;
  display:inline-block;
}
div.body p{
  font-family:"MS Sans Serif";
  font-size:11px;
}
